<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mgpa1">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Share2"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Customization"
            android:screenOrientation="portrait"/>
        <activity android:name=".LevelThreePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".LevelTwoPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".LevelPicker"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeaderBoard"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen" />
        <activity android:name=".DeathScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".GamePanel"
            android:screenOrientation="portrait"/>
        <activity android:name=".InstructionPage"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CreateAccount"
            android:screenOrientation="portrait"/>
        <activity android:name=".GamePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider873081136477976"
            android:exported="true" />
    </application>


</manifest>
